<br>
<div class="jumbotron p-md-4 text-white rounded bg-dark">
    <div class="col-md-12 px-0 text-center">
        <h3 class="display-4 font-italic">Welcome to Seller Dashboard</h3>
        <p class="lead mb-0">Seller can manage products/order details.</p>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-6" (click)="sellerOrderDashboard()">
        <div class="row no-gutter border rounded overflow-hidden flex-md-row mb-4 shadow sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Orders</strong>
                <h3 class="mb-0">Manage Order</h3>
                <div class="mb-1 text-muted">Last Order Date: <strong>{{order_dashboard_data?.datetime}}</strong></div>
                <div class="progressbar-div">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Pending</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Processed</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Rejected</div>
                    </div>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="220" xmlns="http://www.w3.org/2000/svg" preseveAspectRation="xMidYMid slice" focusable="false" role="img" aria-label="placeholder:Thumbnail">
                    <title>Manage Users</title>
                    <rect width="100%" height="100%" fill="#070708" /><text x="22%" y="50%" fill="#ffffff" dy=".3em">Total Orders: {{total_order}}</text>
                </svg>
            </div>
        </div>
    </div>
    <div class="col-md-6" (click)="sellerProductDashboard()">
        <div class="row no-gutter border rounded overflow-hidden flex-md-row mb-4 shadow sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Products</strong>
                <h3 class="mb-0">Manage Products</h3>
                <div class="mb-1 text-muted">Last Product Update Date: <strong>25 Jan 2024</strong></div>
                <div class="progressbar-div">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width.%':published_products}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Publish Products: {{published_products}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width.%':inactive_products}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Inactive Products: {{inactive_products}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%':draft_products}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Draft Products: {{draft_products}}</div>
                    </div>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="220" xmlns="http://www.w3.org/2000/svg" preseveAspectRation="xMidYMid slice" focusable="false" role="img" aria-label="placeholder:Thumbnail">
                    <title>Manage Users</title>
                    <rect width="100%" height="100%" fill="#070708" /><text x="22%" y="50%" fill="#ffffff" dy=".3em">Total Products: {{total_products}}</text>
                </svg>
            </div>
        </div>
    </div>
</div>