<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Admin Login</h3>
            <form name="form" #tf="ngForm" (ngSubmit)="tf.form.valid && onSubmitSignIn()" novalidate>
                <div class="mb-3 form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="userEmail" class="form-control" [(ngModel)]="signInFormValue.userEmail" #userEmail="ngModel" required />
                </div>
                <div class="mb-3 form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" minlength="5" name="userPassword" class="form-control" [(ngModel)]="signInFormValue.userPassword" #userPassword="ngModel" required togglePassword />
                </div>
                <div class="mb-3 form-group">
                    <button type="submit" class="btn btn-primary">Login as Admin</button>
                </div>
            </form>
        </div>
    </div>
</div>